# variables for apache (drupal) container
DB_HOST=drupaldb
DB_USER=admin
DB_PASS=RRRRRRRRRRRRRRRRRRRRRRRR
DB_NAME=drudb

# variables for mysql container:
# DB_USER -> MYSQL_USER
# DB_PASS -> MYSQL_PASSWORD
# DB_NAME -> MYSQL_DATABASE

MYSQL_DATABASE=drudb
MYSQL_USER=admin
MYSQL_PASSWORD=RRRRRRRRRRRRRRRRRRRR
MYSQL_ROOT_PASSWORD=RRRRRRRRRRRRRRRRRRRR

#REGION=eu-central-1
#AWS_ACCESS_KEY_ID=RRRRRRRRRRRRRRRRRRRR
#AWS_SECRET_ACCESS_KEY=RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR
